<?xml version="1.0" encoding="utf-8"?>
<manifest
    android:compileSdkVersion="36"
    android:compileSdkVersionCodename="16"
    package="com.android.wifi.resources.overlay.sapphire"
    platformBuildVersionCode="36"
    platformBuildVersionName="16"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:hasCode="false"
        android:extractNativeLibs="true" />
    <overlay
        android:priority="700"
        android:targetPackage="com.android.wifi.resources"
        android:targetName="WifiCustomization"
        android:isStatic="true" />
</manifest>